body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #082032;
}
.html {
  font-size: 16px;
}

.heading {
  font-size: 6rem;
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: #638299;
  height: fit-content;
  text-shadow: 1px 0.7px #ffffff;
}

.game_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_container {
  border: none;
  border-radius: 7px;
  width: 50%;
  height: 100%;
  margin: 2rem auto;
  color: white;
  padding: 1rem;
  background-color: #2c394b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.select_container {
  height: 100%;
  width: 100%;
  margin: auto 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Roboto Mono", monospace;
}

.select_container select {
  font-size: 0.8rem;
  border: none;
  border-radius: 3px;
  margin: 0.5rem 0;
  max-width: 50%;
  padding: 0.5rem 0;
  background-color: #334756;
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: "Roboto Mono", monospace;
  outline-color: #ff4c29;
}

select:hover {
  background-color: #374d5e;
  box-shadow: none;
}

.start_button_container {
  display: flex;
  justify-content: right;
  width: 100%;
}

.button {
  padding: 0.8rem 2rem;
  margin: 1rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #ff4c29;
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease;
}

.button:hover,
.play_again_button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #c92e0f;
  transform: translateY(1.5px);
}

.question {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Ubuntu";
  padding: 1rem;
}

.question_button {
  display: flex;
  width: 60%;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  border: 2px #334756 solid;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 0;
}

.question_button:hover {
  border: 2px #ff4c29 solid;
}

.question_hub {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Roboto Mono", monospace;
  margin: 1rem 0;
}

.correct_answer {
  border: 2px rgb(14, 180, 14) solid;
  color: rgb(14, 180, 14);
}

.next_button_container {
  display: flex;
  justify-content: center;
}

.next_button {
  background-color: transparent;
  font-size: 2rem;
  border: none;
}

.next_button:hover {
  transform: scale(1.2);
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.shake {
  animation: tilt-shaking 0.3s;
}

.select_answer_text {
  font-size: 0.7rem;
  color: rgba(255, 0, 0, 0.726);
}

.play_again_button {
  width: 40%;
  height: max-content;
  padding: 0.8rem 0;
  margin: 1rem auto;
  border: none;
  font-weight: 400;
  letter-spacing: 0.2rem;
  border-radius: 20px;
  background-color: #ff4c29;
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s ease;
}

.results_heading {
  font-size: 2.5rem;
  font-family: "Ubuntu";
  text-align: center;
  padding: 1rem;
}

.percentage {
  font-size: 5rem;
  font-family: "Dancing Script", cursive;
  text-align: center;
}

.green {
  color: rgb(59, 207, 59);
}

.orange {
  color: rgb(229, 151, 8);
}

.cancelHover:hover {
  border: 2px rgb(14, 180, 14) solid;
}

.about_section {
  background-color: #2c394b;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
}

.about_container {
  background-color: #2c394b;
  padding: 2rem;
  border-radius: 20px;
  height: fit-content;
}

.about_container h1 {
  font-size: 2rem;
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(136, 134, 134);
}

.about_container p {
  width: 80%;
  height: 100%;
  color: gray;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  margin: 1rem 0;
  padding: 1rem 0;
}

.about_buttons {
  width: auto;
  display: flex;
  gap: 2rem;
}

.about_buttons button {
  width: max-content;
  height: fit-content;
  padding: 0.8rem 0.7rem;
  background-color: #374d5e;
  color: white;
  font-size: 1rem;
  font-family: "Roboto Mono";
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.5s;
}

.about_buttons button:hover {
  background-color: #638299;
  transform: translateY(2px);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  .game_container {
    width: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 12px;
  }
  .game_container {
    width: 75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 13px;
  }
  .game_container {
    width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
  .game_container {
    width: 65%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
